<div class="container">
  <h2>メールアドレス確認メール再送信</h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "public/users/shared/error_messages", resource: resource %>
    <div class="form-group">
      <p>メールアドレス確認メールの有効期限が切れた場合はこちらのフォームから再送信できます。</p>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control" %>
      </div>

      <div class="mt-5">
        <%= f.submit "確認メールを送信", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <div class="links mt-2">
    <%= render "public/users/shared/links" %>
  </div>
</div>
