<div class="page">
  <div class="container">
    <h2>ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "public/users/shared/error_messages", resource: resource %>

      <div class="form-group">
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <div class="mt-5">
          <%= f.submit "ログイン", class: "btn btn-success" %>
        </div>
      </div>
    <% end %>

    <div class="links mt-2">
      <%= render "public/users/shared/links" %>
    </div>
  </div>
</div>
