<div class="container">
  <div class="row">
    <div class="col p-0">
      <div class="top_page_jumbotron p-4 p-sm-5 my-4 rounded">
        <h1>StudyDiary</h1>
        <p>目標を立てて学びを積み上げよう！</p>
        <p>
          <% if user_signed_in? %>
            <%= link_to '学習日記をつける', new_public_learning_diary_path, class: "btn btn-primary btn-lg" %>
          <% else %>
            <%= link_to '新規登録', new_user_registration_path, class: "btn btn-primary btn-lg" %>
            <%= link_to 'ログイン', new_user_session_path,  class: 'btn btn-secondary btn-lg' %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
    <div class="row white_box p-3">
      <div class="col-12 col-md-8">
        <div class="study_plan">
          <h2>学習目標</h2>
          <p class="study_plan_title"><%= study_plan_title(@current_study_plan) %></p>
        </div>
        <div class="study_plan_progress_box">
          <p class="study_plan_progress">学習進捗率（今週）</p>
          <p class="weekly_target_time">
            学習した時間 / 今週の学習目標<br>
            <%= weekly_study_time(current_user) %> / <%= study_plan_study_time(@current_study_plan) %>
          </p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow=<%= @current_study_plan.total_progress %> aria-valuemin="0" aria-valuemax="100" style=<%= "width:" + "#{@current_study_plan.total_progress}" + "%;" %>> <%= @current_study_plan.total_progress %>% <%= "+ #{@current_study_plan.extra_time}%" unless @current_study_plan.extra_time == 0 %> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row white_box my-2">
      <div class="col-12 col-md-8">
        <%= form_with model: @study_plan, url: public_study_plans_path, method: :post, local: true do |f| %>
          <div class="form_box bg-white p-4">
            <div class="form-group">
              <p>1日の学習目標時間を設定しよう！</p>
              <%= f.select :weekly_target_time, options_for_select(weekly_study_time_array), {}, {class: 'form-control'} %>
            </div>
            <div class="form-group">
              <p>今週学習することを記述してください！</p>
              <%= f.text_field :title, class: "form-control" %>
            </div>
            <p class="mt-2">
              <%= f.submit '保存', class: 'btn btn-primary' %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row justify-content-center my-2 white_box">
      <div class="col-12 col-md-5 mb-5">
        <%= pie_chart @diary_pie_chart_data,
                      donut: true,  # ドーナツグラフにするための記述
                      suffix: "分",
                      colors: ["#ACFF40", "#FFF33F", "#3fbeff", "#3f4bff", "#a63fff", "#ffd278"], # 色を指定
                      label: "学習時間",  # ホバーした時に表示される詳細の項目名を指定
                      title: "カテゴリ別の学習比率（今週）"
        %>
      </div>
      <div class="col-12 col-md-5">
        <div class="avg-weekly-study-data">
          <p>1日の学習平均 (今週)</p>
          <p>
            <%= avg_study_time(current_user) %>
          </p>
        </div>
        <%= column_chart  @diary_column_chart_data,
                          stacked: true, # 積み上げ式にするための記述
                          max_width: '100vw', # 幅を指定
                          colors: ['#cbd0d3', "#ACFF40", "#FFF33F", "#3fbeff", "#3f4bff", "#a63fff", "#ffd278"], # 色を指定
                          suffix: "分" # 単位を指定
        %>
      </div>
    </div>
  <% end %>
</div>
