<div class="bg-light p-4 p-sm-5 my-4 rounded">
  <h1>StudyDiary</h1>
  <p>目標を立てて学びを積み上げよう！</p>
  <p>
    <% if user_signed_in? %>
      <%= link_to '学習日記をつける', new_public_learning_diary_path, class: "btn btn-primary btn-lg" %>
    <% else %>
      <%= link_to '新規登録', new_user_registration_path, class: "btn btn-primary btn-lg" %>
      <%= link_to 'ログイン', new_user_session_path,  class: 'btn btn-secondary btn-lg' %>
    <% end %>
  </p>
</div>

<%= pie_chart StudyCategory.group(:name).count,
  donut: true,  # ドーナツグラフにするための記述
  colors: ["#ACFF40", "#FFF33F"],  # 色を指定
  thousands: ",",   # 金額表示にする（カンマを入れる）
  suffix: "円",  # 単位を指定
  label: "金額",  # ホバーした時に表示される詳細の項目名を指定
  library: {
    title: {
      text: "Good yen!<br>#{@price_true_percent}%",  # 中央(ドーナツの穴)部分の記述を指定
      align: 'center',  # 位置を指定（水平方向）
      verticalAlign: 'middle'  # 位置を指定（垂直方向）
    },
    plotOptions: {
      pie: {
        dataLabels: {
          enabled: false  #データラベルを表示するか否か
        },
        innerSize: '50%',  # 中央(ドーナツの穴)部分のサイズを指定
      }
    }
  }
%>


<%= column_chart  [{ name: 'Good yen!', data: [['1月', 1000], ['2月', 2000], ['3月', 3000]] }, { name: 'あと一歩', data: [['1月', 1000], ['2月', 1000], ['3月', 1000]] }],
  stacked: true, # 積み上げ式にするための記述
  max_width: '100vw', # 幅を指定
  colors: ["#ACFF40", "#FFF33F"], # 色を指定
  thousands: ",", # 金額表示にする（カンマを入れる）
  suffix: "円" # 単位を指定
%>
